<a href="https://colab.research.google.com/github/HongSeJoon/21-2-Python-code/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%83%80%EC%9E%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **학습목표**
- list 에 대해 이해하기
- tuple 에 대해 이해하기

### **리스트와 튜플**
- 여러 개의 값을 담을 수 있는 데이터 구조
- list: 생성된 후에 변경이 가능
- tuple: 생겅된 후에 변경이 불가능

In [2]:
#[]list  {}:딕셔너리 ():튜플
a = [1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [3]:
a = ['컴네','b','1','학년',[10.,20]]
print(a)

['컴네', 'b', '1', '학년', [10.0, 20]]

In [10]:
'''
a = "Hello Comnet B !"
b = list(a)#list()함수로 리스트를 생성
#리스트 함수는 다른타입(문자열 등)을 리스트로 변환할 때 사용

print(b)
print(len(b))
c = a.split()#공백을 기준으로 리스트를 생성
print(c)
d = a.split('l')
print(d)

['H', 'e', 'l', 'l', 'o', ' ', 'C', 'o', 'm', 'n', 'e', 't', ' ', 'B', ' ', '!']
16
['Hello', 'Comnet', 'B', '!']
['He', '', 'o Comnet B !']

### **리스트 인데싱(indexing)**
- [] 연산자를 이용해서 항목을 가져온다
- [ i ]: i번쨰 원소를 반환 한다.
- 만약, i가 음수면 마지막 원소에서 -1로 하여 가져온다.

In [19]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a[0],a[3],a[7],a[9],a[-1])
print(a[-1], a[-3], a[-10])
#print(a[10],a[-11])

1 4 8 10 10
10 8 1

In [25]:
'''
a = [1,2,3,4,5,6,7,8,9,10]
a[0] = 100
a[-1] = 0
print(a)
a = "hello comnet B!"
b = a.replace('l','w')
print(b)
c = 'j'+a[1:]
print(c)
'''

[100, 2, 3, 4, 5, 6, 7, 8, 9, 0]
hewwo comnet B!
jello comnet B!

### **리스트 slicing**
- 리시트를 슬라이싱한 결과도 역시 리스트
- 슬라이싱[시작:증가값]

In [31]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a[3:7])
print(a[:7])
print(a[3:])
print(a[::2])
print(a[1:9:2])

[4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[2, 4, 6, 8]

### **리스트 멤버 함수**
- 생선된 리스트에 동작하는 함수
- append() : 리스트 끝에다가 항목을 추가
- extend() : 리스트를 연장 (+=)
- insert() : 원하는 위치에 추가 가능(위치,아이템)

In [34]:
a = [1,2,3,4,5]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 10]

In [42]:
b = [11,12,3]
#a.extend(b)
a += b
print(a)

[7, 1, 2, 3, 4, 5, 11, 12, 3]

In [41]:
a = [1,2,3,4,5]
a.insert(0,7)
a.insert(1,6)
print(a)

[7, 1, 2, 3, 4, 5]

- remove() : 값으로 항목을 삭제
- pop() : 지우고자 하는 인덱스의 아이템을 변환 후 삭제
- index() : 찾고자하는 값의 인덱스 값을 반환

In [ ]:
a = [10,20,30,40,50]
a.remove(10)
print(a)

In [45]:
a = [10,20,30,40,50]
b = a.pop(0)
print(b)
print(a)

10
[20, 30, 40, 50]

In [47]:
a = [10,20,30,40,50]
print(a.index(40))

b = "Hello!"
print(b.index('e'))

3
1

### **in 키워드**
- 리스트에 해당 값이 존재하는지
- True,False 중 한가지로 변환
- 값 in [list]

In [48]:
a = [1,2,3,4,5,6,7,8]
b = 5
c = 10
print(b in a)
print(c in a)

True
False

### **list 정렬**
-sort() : 리스트 자체를 내부적으로 정렬
-sorted() : 정렬된 리스트의 복사본을 저장

In [54]:
a = [9,34,45,242,12,1,2,8,5,2,1,3,4]
b = sorted(a)
print(b)
print(a)

#a.sort()
#print(a)
#a.sort(reverse=True)
#print(a)

[1, 1, 2, 2, 3, 4, 5, 8, 9, 12, 34, 45, 242]
[9, 34, 45, 242, 12, 1, 2, 8, 5, 2, 1, 3, 4]

### **튜플(Tupple)**
- 리스트와 같이 여러개의 값을 갖는 데이터 컬렉션 타입
- 생선된 후에 변경이 불가능

In [57]:
a = [1,2,3]
b = (1,2,3)

print(type(a))
print(type(b))


a[0] = 100
print(a)
#b[0] = 100

<class 'list'>
<class 'tuple'>
[100, 2, 3]

In [58]:
a,b,c,d = 10,20,30,40
print(a,b,c,d)

10 20 30 40

In [65]:
a = 4
b = 5

#temp = a
#b = a
#a = temp

a,b = b,a